#root {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

div#navBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 98vw;
  position: fixed;
  top: 0;
  padding: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: rgb(133, 153, 161);
  z-index: 10;
}
div#navBar nav {
  width: 60%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}
nav a {
  color: #1a1a1a;
  font-size:x-large;

}